body {
  font-family: "微软雅黑";
}

body p,
body li {
  color: #444444;
}

.article-type-wrapper {
  display: none !important;
}

.blog-page {
  padding-top: 12px;
}

.nav-links div a,
.nav-links div div {
  font-size: 16px;
}

header.title {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

header.title a {
  display: block;
}

.page.blog .blog-home {
  max-width: 1024px !important;
}

.vp-blog-hero h1 {
  display: none;
}

span[property="headline"] {
  font-size: 1.5rem;
}

.vp-article-excerpt h2 {
  font-size: 1.35em;
}

.vp-article-excerpt h3 {
  font-size: 1.2em;
}

.vp-page-title h1 {
  font-size: 1.5rem;
}

.theme-hope-content h2 {
  font-size: 1.35rem;
}

.theme-hope-content h3 {
  font-size: 1.2rem;
}

div.excerpt p + h2 {
  padding-top: 20px;
}

aside#toc {
  padding-left: 80px;
}

code {
  background: none;
}

aside.blog-info-wrapper {
  margin-top: 8px;
}
